In [1]:
import arcontrol2nwb

arcfile = './2022-1113-224711.txt'
arcontrol2nwb.convert(arcfile)

/Users/chen/.conda/envs/pynumpy/lib/python3.9/site-packages/pynwb/file.py:1113: UserWarning: Date is missing timezone information. Updating to local timezone.
  warn("Date is missing timezone information. Updating to local timezone.")

In [7]:
from pynwb import NWBHDF5IO
from nwbwidgets import nwb2widget

nwbfile = arcfile.replace('txt', 'nwb')
io = NWBHDF5IO(nwbfile, mode='r')
nwb = io.read()

nwb2widget(nwb)

VBox(children=(HBox(children=(Label(value='session_description:', layout=Layout(max_height='40px', max_width='â€¦

In [6]:
df_events = nwb.intervals['ArControl_Events'].to_dataframe()
df_events

    start_time  stop_time event
id
0        0.000      1.002  OUT1
1       14.682     15.682  OUT1
2       26.261     27.261  OUT1
3       58.668     59.668  OUT1
4       17.887     18.387  OUT3
5       17.887     19.107   IN1
6       41.102     42.415   IN1
7       37.681     39.681  OUT2
8       45.577     47.577  OUT2
9       41.102     42.102  OUT4
10       0.000      1.002  C1S1
11      14.682     15.682  C1S1
12      26.261     27.261  C1S1
13      58.668     59.668  C1S1
14       1.002      6.002  C1S2
15      15.682     17.887  C1S2
16      27.261     32.261  C1S2
17      59.668     64.668  C1S2
18       6.002      8.002  C1S3
19      32.261     34.261  C1S3
20      64.668     66.668  C1S3
21       8.002     14.682  C1S5
22      19.887     26.261  C1S5
23      34.261     37.681  C1S5
24      66.668     66.668  C1S5
25      17.887     19.887  C1S4
26      37.681     39.681  C2S1
27      45.577     47.577  C2S1
28      39.681     41.102  C2S2
29      47.577     52.577  C2S2
30      41.102     42.102  C2S3
31      42.102     45.577  C2S5
32      54.577     58.668  C2S5
33      52.577     54.577  C2S4
34       0.000     37.681    C1
35      58.668     66.668    C1
36      37.681     58.668    C2